export(arithmeticMean)
export(addition)
export(krava)
export(ovce)
export(zirafa)
export(slon)
export(jelen)
export(koza)
export(fileDetails)
export(fileAdvanced)
export(sumFileData)
export(file)
export(varFile)
export(sdFile)