export(arithmeticMean)
export(addition)
export(krava)
export(ovce)
export(zirafa)
export(slon)
export(jelen)
export(koza)
export(fileDetails)
export(fileAdvanced)
export(sumFileData)
export(file)
export(varFile)
export(sdFile)
export(histFile)
export(edfFile)
export(corCoefFiles)
export(scatterPlot)
export(readFile)
export(callMean)
export(callMedian)
export(sampleVar)
export(stDeviation)
export(drawHist)
export(edfPlot)
export(drawQQ)
export(twoTailedTTest)
export(KSTest)
export(callCov)
export(callCor)